*{
    padding: 0;
    margin: 0;
}


/* Header section */

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    
}

.header .navbar{
    display: flex;
    margin-top: 10px;
    /* margin-left: 700px; */
}

.header .navbar ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    cursor: pointer;
    margin-left: 400px;
    
}

.header .navbar ul li{
    margin-right: 10px 20px 0 0;
    padding: 10px;
}

.header .navbar ul li a{
    text-decoration: none;
    color: white;
    transition: ease-out 320ms;
}

.header .navbar ul li a:hover{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
}

.header .navbar .logo-main{
    display: flex;
    flex-direction: column;
    margin: 0 150px 10px 200px;
    height: 50px;
    width: 50px;
}


.main{
    display: flex;
}

.main .main-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    margin: 80px 0 0 200px;
    height: 200px;
    width: 500px;
}

.main .main-container h1{
    text-align: left;
    font-size: 48px;
    font-style: extra-bold #F9FAF8;
    margin-bottom: 10px;
}


.main .main-container p{
    text-align: left;
    font-size: 18px;
    font-style: italic #E5E7EB;
    margin-bottom: 10px;
}

.main .main-container button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: #3882F6;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 20px 0;
    transition: ease-out 550ms;
}

.main .main-container button:hover{
    cursor: pointer;
    background-color: #1864dd;
    box-shadow: inset 0 0 5px #000000;
    width: 200px;
}

.main .main-container .banner-img{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main img{
    height: 300px;
    width: 500px;
    margin: 80px 0 20px 60px;
} 


/* Main body section */

.main-body{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.main-body .main-title{
    margin: auto;
}
.main-title h2{
    padding: 20px;
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
}

.body-wrap{
    display: flex;
    margin: auto;
}

.img-containers{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.img-containers .cont-1{
    height: 276px;
    width: 218px;
    /* margin-left: 200px;
    margin-top: 20px; */
    margin: 30px;
}

.img-containers .cont-1 .box{
   margin: auto;
}

.img-containers .cont-1 .box img{
    height: 220px;
    width: 220px;
    border: 5px solid #0d54c7;
    border-radius: 15px;
    opacity: 80%;
    transition: ease-out 200ms;
}


.img-containers .cont-1 .box img:hover{
    /* cursor: pointer; */
    height: 230px;
    width: 230px;
    opacity: 100%;
    border: 7px solid #000000;
    border-radius: 15px;
}

.img-containers h4{
    margin-top: 10px;
    font-style: italic;
    transition: ease-out 250ms;
}

.img-containers h4:hover{
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
}


/* Quote section */


.quote{
    background-color: #E5E7EB;
    margin: auto;
    height: 350px;
}

.quote .quote-wrapper{
    margin: 50px 50px 50px 50px;
}

.quote .quote-wrapper .main-text{
    margin-left: 300px;
    padding-top: 50px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote .quote-wrapper .sub-text{
    font-weight: bold;
    margin-left: 800px;
}


/* Section sign up */

.sign-up{
    background-color: white;
    height: 300px;
    padding: 50px;
    margin: auto;
    
}

.sign-up .container-sup{
    width: 700px;
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    color: white;
    padding: 50px;
    margin: 50px 0 0 300px;
}

.copy{
    width: 245px;
    margin: auto;
    padding: 30px;
}

.left{
    padding: 20px;
}

.left h4{
    font-size: 26px;
}

.right{
    padding: 20px;
    margin-left: 50px;
}


.right button{
    height: 50px;
    width: 150px;
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: ease-out 200ms;
}

.right button:hover{
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    color: #3882F6;
    font-size: 18px;
}

/* Footer section */

.footer{
    height: 100px;
    background-color: #1F2937;
    color: white;
}
